<html>
  <head>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1></h1>
      <p>This is the full range of the dates available for {{ ticker }} {{ check }} from the Quandl dataset. Please select your desired time period below</p>
      <p>
        <form id="input" method="post" action="graph">
        Enter a date after {{ thismin }}:
        <input type="date" name="low" min=thismin><br>
        Enter a date before {{ thismax }}:
        <input type="date" name="high" max=thismax><br>
        <input type="submit" value="submit">
        </form>
      </p>

      {{ div | safe }}
    </div>

  </body>
</html>