<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
  		<div>
  			<h1>Select a Ticker Symbol</h1>
  			<h3>Data from the <a><href=https://www.quandl.com/data/WIKI/documentation/documentation>Quandl API</a><br> Please enter a valid stock ticker symbol below</h3>
  		<!-- 	and select chart features -->
  			<form id="input" method="post" action="index">
  			<p>Input Ticker:
  				<input type="text" name="ticker">
  				<input type="submit" value="submit">
  			</p>

<!--   			<p>
  				<input type="checkbox" name="samename" value="MA">
  				"Moving Average--add more of these options with samename for value"
  				<input type="submit" value="submit">
  			</p> -->

  			</form>
  			<!-- <p><a href=/graph>CLICK FOR GRAPH</a></p> -->
  			

		
		</div>
	</body>
</html>
