<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello, World!</h1>
  		</div>
  		<div>
  			<h1>Select a Ticker Symbol</h1>
  			<h3>Please enter a valid ticker symbol and select graph features</h3>
  			<form id="input" method="post" action="index">
  			<p>"Input Ticker:"
  				<input type="text" name="ticker">
  			</p>
  			<p>
  				<input type="checkbox" name="samename" value="MA">
  				"Moving Average--add more of these options with samename for value"
  				<input type="submit" value="submit">
  			</p>

  			</form>
  			<p>Here's some data {{ sesh }} wrapping it</p>
  			<!-- <a href=/graph>DATA</a> -->
		
		</div>
	</body>
</html>
